
.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding:0;
}
/* shared styles */
.title-color{
    color:#0D1321;
}
.section-title{
    font-size: 32px;
    font-weight:800;
}
.section-description{
    font-size: 16px;
    opacity: 0.7;
}
.btn{
    padding: 12px 20px 12px 20px;
    font-size: 20px;
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
margin: 32px 0px;

}
/* banner_area*/
#hero{
    width: 100%;
    height: 660px;
    background-image: url(../assets/Hero-bg.png);
    margin-top: 50px;
    text-align:center; 
    
}
.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 200px 48px 200px;
}
.hero-banner-img{
    padding: 26px 0 32px;
}
.hero-title{
    font-size: 48px;
    font-weight: 800;
}
.hero-description{
    padding: 24px 73px 32px 73px;
}
.hero-button{
    padding: 21px 24px;
    background-color: #0D1321;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

/*why_web_devloper_area*/
#dev-aim{
    margin: 72px 150px 70px 150px;
    padding: 80px 97px 80px 97px;
}
.dev-aim-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}
.main_Card{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.aim-title{
    width: 83%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 48px;
}
.aim-title1{
    margin-bottom: 24px;
}
.aim-title-descripton{
    width: 852px;
height: 52px;
opacity: 0.7;
font-size: 16px;
font-weight: 400;
}
.aim-class1{
    display: flex;
    flex-direction: row;
    padding: 48px;
    justify-content: space-between;
}
.aim-class{
    display: flex;
    flex-direction: row;
    gap:50px;
    padding: 48px;
}
.aim{
    width: 477px;
height: 220px;
}
.aim-subtitle{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin: 16px 0px;
}

/* my insparetion */
.inspSection{
    width: 75%;
    margin: 0px auto;  
}  
    .inspSection_container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
.insp_text_div{
    display: flex;
    flex-direction: column;
        align-items: center;
    text-align: center;
    margin-bottom: 48px;
    
}.insp_text_div h1{
    margin-bottom: 24px;
    font-size: 32px;
}.insp_text_div p{
    width: 80%;
    
}.inspVideo{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
}
.video{
    border-radius: 16px;
}


/* My_Current_Target */
.My_Current_Target{
    width: 75%;
    margin:110px auto;
    text-align: center;

}
.target_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}
.My_Current_Target h1{
    margin-bottom: 24px;
}
.My_Current_Target p{
    width: 78%;
    
}
.target_boxMain{
    display: flex;
    flex-direction: row;
    gap: 15px;
    text-align: left;
    margin-top: 48px;
}
.blackColor{
    color: rgb(13, 19, 33);
}

.html_div{
    background: rgba(255, 76, 30, 0.05);
    text-align: left;
    padding: 30px;
    border-radius: 16px;

}
.html_div h1{
    font-size: 22px;
    margin-bottom: 11px;
    margin-top: 8px;
}
.html_div p{
    font-size: 13px;
    text-align: left;
    margin-left: 0px;
    margin-bottom: 11px;
    color: rgb(122, 123, 126);
    width: 100%;
}



.css_div{
    background: rgba(0, 76, 232, 0.05);
    text-align: left;
    padding: 30px;
    border-radius: 16px;
}
.css_div h1{
    font-size: 22px;
    margin-bottom: 11px;
    margin-top: 8px;
}
.css_div p{
    font-size: 13px;
    text-align: left;
    margin-left: 0px;
    margin-bottom: 11px;
    color: rgb(122, 123, 126);
    width: 100%;
}


.js_div{
    background: rgba(255, 223, 0, 0.05);
    text-align: left;
    padding: 30px;
    border-radius: 16px;
}
.js_div h1{
    font-size: 22px;
    margin-bottom: 11px;
    margin-top: 8px;
}
.js_div p{
    font-size: 13px;
    text-align: left;
    margin-left: 0px;
    margin-bottom: 11px;
    color: rgb(122, 123, 126);
    width: 100%;
}

/* support */
.support{
    width: 80% ;
    margin: 120px auto;
    text-align: center;
    /* background-color: aqua; */
    border-radius: 16px;
    height: 200px;
    background-image: url(../assets/handshake.jpg);
    padding: 30px;
    color: white;
}

.support h1{
    margin-bottom: 18px;
    font-size: 32px;
    padding-top: 20px;
    font-weight: 700;
}
.support p{
    opacity: 0.7;
    font-size: 16px;
    width: 60%;
    margin: auto;
}
.search_box{
    margin-top: 20px;
}
.search_box input{
    height: 30px;
    width: 40%;
    padding: 5px;
    border-radius: 7px;
}.search_box button{
    border-radius: 5px;
    padding: 5px;
    height: 40px;
    padding: 5px 20px;
    font-size: 16px;
    font-weight:bold ;
}


/* footer */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(13, 19, 33, 0.03);
    padding: 20px 150px;
    text-align: center;
}.footer_title h1{
    margin-bottom: 20px;
    font-size: 19px;
}
.fo_div{
    display: flex;
    flex-direction: row;
    gap: 25px;
}