
.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding:0;
}
/* shared styles */
.title-color{
    color:#0D1321;
}
.section-title{
    font-size: 32px;
    font-weight:800;
}
.section-description{
    font-size: 16px;
    opacity: 0.7;
}
.btn{
    padding: 12px 20px 12px 20px;
    font-size: 20px;
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
margin: 32px 0px;

}
/*  */
#hero{
    height: 655px;
    background-image: url(/assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    margin-top: 130px;
}
.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 221px 45px 221px;
}
.hero-banner-img{
    padding: 26px 0 32px;
}
.hero-title{
    font-size: 48px;
    font-weight: 800;
    /* line-height: 68px; */
}
.hero-description{
    padding: 24px 73px 32px 73px;
}
.hero-button{
    padding: 21px 24px;
    background-color: #0D1321;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

/*  */
#dev-aim{
    margin: 74px 10px 90px 10px;
}
.dev-aim-container{
    padding: 80px 97px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.aim-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}
.aim-title1{
    margin-bottom: 24px;
}
.aim-title-descripton{
    width: 852px;
height: 52px;
opacity: 0.7;
font-size: 16px;
font-weight: 400;
}
.aim-card{
    display: flex;
    gap: 32px;
    padding: 48px;
    
}
.aim-class1{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-between;

}
.aim-class{
    display: flex;
    flex-direction: row;
    gap:32px;
}
.aim{
    width: 477px;
height: 220px;
}
.aim-subtitle{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin: 16px 0px;
}

/* my insparetion */
.inspSection{
    width: 80% ;
    margin: 120px auto;
    text-align: center;
    /* margin-top: 120px; */
    
}
.insp_text_div{
    margin-bottom: 60px;
    
}.insp_text_div h1{
    margin-bottom: 20px;
    font-size: 32px;
}.insp_text_div p{
    font-size: 16px;
    width: 60%;
    margin: auto;
}.inspVideo{
    width: 100%;
    border: 2px solid rgba(184, 180, 180, 0.582);
    padding: 30px;
    border-radius: 16px;
}


/* My_Current_Target */
.My_Current_Target{
    width: 80% ;
    margin: 120px auto;
    text-align: center;
}.My_Current_Target h1{
    margin-bottom: 20px;
    font-size: 32px;
}
.My_Current_Target p{
    font-size: 16px;
    width: 60%;
    margin: auto;
}
.target_boxMain{
    display: flex;
    flex-direction: row;
    gap: 15px;
    text-align: left;
    margin-top: 60px;
}

.html_div{
    background: rgba(255, 76, 30, 0.05);
    text-align: left;
    padding: 30px;
    border-radius: 16px;

}
.html_div h1{
    font-size: 22px;
    margin-bottom: 11px;
    margin-top: 8px;
}
.html_div p{
    font-size: 13px;
    text-align: left;
    margin-left: 0px;
    margin-bottom: 11px;
    color: rgb(122, 123, 126);
    width: 100%;
}



.css_div{
    background: rgba(0, 76, 232, 0.05);
    text-align: left;
    padding: 30px;
    border-radius: 16px;
}
.css_div h1{
    font-size: 22px;
    margin-bottom: 11px;
    margin-top: 8px;
}
.css_div p{
    font-size: 13px;
    text-align: left;
    margin-left: 0px;
    margin-bottom: 11px;
    color: rgb(122, 123, 126);
    width: 100%;
}


.js_div{
    background: rgba(255, 223, 0, 0.05);
    text-align: left;
    padding: 30px;
    border-radius: 16px;
}
.js_div h1{
    font-size: 22px;
    margin-bottom: 11px;
    margin-top: 8px;
}
.js_div p{
    font-size: 13px;
    text-align: left;
    margin-left: 0px;
    margin-bottom: 11px;
    color: rgb(122, 123, 126);
    width: 100%;
}

/* support */
.support{
    width: 80% ;
    margin: 120px auto;
    text-align: center;
    background-color: aqua;
    border-radius: 16px;
    height: 200px;
    background-image: url(/assets/handshake.jpg);
    padding: 30px;
    color: white;
}

.support h1{
    margin-bottom: 20px;
    font-size: 32px;
    padding-top: 20px;
}
.support p{
    font-size: 16px;
    width: 60%;
    margin: auto;
}
.search_box{
    margin-top: 20px;
}
.search_box input{
    height: 30px;
    width: 40%;
    padding: 5px;
    border-radius: 7px;
}.search_box button{
    border-radius: 5px;
    padding: 5px;
    height: 40px;
    padding: auto 8px;
}